@page "/counter"

<p>firstNumber</p>
        <input style="margin-bottom:15px" inputmode="numeric"@bind-value="firstNumber" />

        <p>secondNumber</p>
        <input style="margin-bottom:15px" inputmode="numeric" @bind-value="secondNumber" />

        <p>result</p>
        <h2>@result</h2>

        <button @onclick="Sum">Sum</button>
        <button @onclick="Minus">Minus</button>
        <button @onclick="multify">multify</button>
        <button @onclick="Divide">Divide</button>

        <h1 style="color:red">@errorMessege</h1>

    @code{
        private string firstNumber { get; set; } = "111";
        private string secondNumber { get; set; } = "222";

        private int result { get; set; } = 0;

        private void Sum()
        {
            var firstNumberResult = 0;
            var secondNumberResult = 0;

            if (int.TryParse(firstNumber, out firstNumberResult) & int.TryParse(secondNumber, out secondNumberResult))
            {
                result = firstNumberResult + secondNumberResult;
                errorMessege = "";
            }
            else
            {
                errorMessege = "ЧИСЛА ВВАДИЩКООПРЩГУКШРЗАЦУЗХГАКШЩУЦ";
            }

        }
        private void Minus()
        {
            var firstNumberResult = 0;
            var secondNumberResult = 0;

            if (int.TryParse(firstNumber, out firstNumberResult) & int.TryParse(secondNumber, out secondNumberResult))
            {
                result = firstNumberResult - secondNumberResult;
                errorMessege = "";
            }
            else
            {
                errorMessege = "ЧИСЛА ВВАДИЩКООПРЩГУКШРЗАЦУЗХГАКШЩУЦ";
            }

        }
        private void multify()
        {
            var firstNumberResult = 0;
            var secondNumberResult = 0;

            if (int.TryParse(firstNumber, out firstNumberResult) & int.TryParse(secondNumber, out secondNumberResult))
            {
                result = firstNumberResult * secondNumberResult;
                errorMessege = "";
            }
            else
            {
                errorMessege = "ЧИСЛА ВВАДИЩКООПРЩГУКШРЗАЦУЗХГАКШЩУЦ";
            }

        }
        private void Divide()
        {
            var firstNumberResult = 0;
            var secondNumberResult = 0;

            if (int.TryParse(firstNumber, out firstNumberResult) & int.TryParse(secondNumber, out secondNumberResult))
            {
                result = firstNumberResult / secondNumberResult;
                errorMessege = "";
            }
            else
            {
                errorMessege = "ЧИСЛА ВВАДИЩКООПРЩГУКШРЗАЦУЗХГАКШЩУЦ";
            }

        }
        private string errorMessege { get; set; } = "";


    }
