@page "/counter"


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.98.0">
    <title>Cover Template · Bootstrap v5.2</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/cover/">





    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">



    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">Cover</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="#">Home</a>
                    <a class="nav-link fw-bold py-1 px-0" href="#">Features</a>
                    <a class="nav-link fw-bold py-1 px-0" href="#">Contact</a>
                </nav>
            </div>
        </header>

        <main class="px-3">
            <h1>Cover your page.</h1>
            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
            <p class="lead">
                <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
            </p>
        </main>

        <footer class="mt-auto text-white-50">
            <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white"></a>.</p>
        </footer>
    </div>




@*<p>
       <h1>Меню нашего кафе</h1>
    </p>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">Обложка</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="#">Главная</a>
                    <a class="nav-link fw-bold py-1 px-0" href="#">Функции</a>
                    <a class="nav-link fw-bold py-1 px-0" href="#">Контакт</a>
                </nav>
            </div>
        </header>

        <main class="px-3">
            <h1>Обложка вашей страницы.</h1>
            <p class="lead">Обложка — это одностраничный шаблон для создания простых и красивых домашних страниц. Загрузите, отредактируйте текст и добавьте свою собственную полноэкранную фоновую фотографию, чтобы сделать ее своей.</p>
            <p class="lead">
                <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Узнать больше</a>
            </p>
        </main>

        <footer class="mt-auto text-white-50">
            <p>Шаблон обложки для <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, от <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
        </footer>
    </div>*@

@*<p>firstNumber</p>
        <input style="margin-bottom:15px" inputmode="numeric"@bind-value="firstNumber" />

        <p>secondNumber</p>
        <input style="margin-bottom:15px" inputmode="numeric" @bind-value="secondNumber" />

        <p>result</p>
        <h2>@result</h2>

        <button @onclick="Sum">Sum</button>
        <button @onclick="Minus">Minus</button>
        <button @onclick="multify">multify</button>
        <button @onclick="Divide">Divide</button>

        <h1 style="color:red">@errorMessege</h1>

    @code{
        private string firstNumber { get; set; } = "111";
        private string secondNumber { get; set; } = "222";

        private int result { get; set; } = 0;

        private void Sum()
        {
            var firstNumberResult = 0;
            var secondNumberResult = 0;

            if (int.TryParse(firstNumber, out firstNumberResult) & int.TryParse(secondNumber, out secondNumberResult))
            {
                result = firstNumberResult + secondNumberResult;
                errorMessege = "";
            }
            else
            {
                errorMessege = "ЧИСЛА ВВАДИЩКООПРЩГУКШРЗАЦУЗХГАКШЩУЦ";
            }

        }
        private void Minus()
        {
            var firstNumberResult = 0;
            var secondNumberResult = 0;

            if (int.TryParse(firstNumber, out firstNumberResult) & int.TryParse(secondNumber, out secondNumberResult))
            {
                result = firstNumberResult - secondNumberResult;
                errorMessege = "";
            }
            else
            {
                errorMessege = "ЧИСЛА ВВАДИЩКООПРЩГУКШРЗАЦУЗХГАКШЩУЦ";
            }

        }
        private void multify()
        {
            var firstNumberResult = 0;
            var secondNumberResult = 0;

            if (int.TryParse(firstNumber, out firstNumberResult) & int.TryParse(secondNumber, out secondNumberResult))
            {
                result = firstNumberResult * secondNumberResult;
                errorMessege = "";
            }
            else
            {
                errorMessege = "ЧИСЛА ВВАДИЩКООПРЩГУКШРЗАЦУЗХГАКШЩУЦ";
            }

        }
        private void Divide()
        {
            var firstNumberResult = 0;
            var secondNumberResult = 0;

            if (int.TryParse(firstNumber, out firstNumberResult) & int.TryParse(secondNumber, out secondNumberResult))
            {
                result = firstNumberResult / secondNumberResult;
                errorMessege = "";
            }
            else
            {
                errorMessege = "ЧИСЛА ВВАДИЩКООПРЩГУКШРЗАЦУЗХГАКШЩУЦ";
            }

        }
        private string errorMessege { get; set; } = "";


    }
*@